%h1 Greg Beech

%h2 Profile
%p
  :kramdown
    I am a skilled developer and lead with a lot of experience designing and building 
    reliable and scalable solutions on the Microsoft platform. I have worked in a wide 
    range of projects and environments, from systems integration to media web sites, 
    and am able to adapt to situations and apply new technologies very quickly.

    I approach software development as an engineer, being pragmatic and making decisions
    based on evidence to ensure software ships on time with sufficient quality. I believe 
    the ability of team members to work both individually and together is more important 
    than using specific methodologies or practices.

%h2 Career

%h3 Head of Core Platform Development, blinkboxbooks (Jan 2013 - Present)
%p
  TODO

%h3 Principal Development Lead, blinkbox (May 2011 - Dec 2012)
%p
  :kramdown
    Led development of the Xbox 360 application based on the Xbox's custom version
    of Silverlight.

    Subsequently I was responsible for delivering a set of core libraries for all of
    the client applications (iPad, Android, .NET, Web) which exposed the underlying
    capabilities of the platform as a rich object model. This involved a lot of design
    work on the REST API with the server team.

%h3 Senior Development Lead, blinkbox (July 2007 - April 2011)
%p
  :kramdown
    I led a team to design and build a scalable middle tier using a service-oriented architecture on the .NET platform. We made extensive use of design-time and runtime code generation to remove boiler-plate code like tracing and exception management, and used higher-order programming to centralise common functionality such as caching and data access.

    My team also developed a Windows Workflow based distributed encoder which included process monitoring and recycling to work around memory leaks in third-party components. We developed custom workflow activities and runtime services to handle encoding of video in a reliable and scalable manner.

%h3 Principal Consultant, Netstore (Sept 2006 - July 2007)
%p
  :kramdown
    My role involved working across a number of projects simultaneously, including architectural reviews, pre-sales work such as requirements gathering and proposal drafting, and performance tuning. I was the lead developer on a number of BizTalk 2006 proof-of-concept solutions and presentations for clients including the government and investment banks.

    Although this job was varied and interesting, I spent a lot of time talking about technology rather than designing and implementing it. I realised that consulting was not what I wanted to do at this time in my career, and left to pursue a more technical role.

%h3 Senior Consultant, Charteris (Jan 2005 - Aug 2006)
%p
  :kramdown
    I worked on three integration projects consecutively; each lasting between three and nine months. One was based around Microsoft’s Connected Services Framework where we developed WS-* adapters to communicate with external systems. The others were based on BizTalk 2004, and included building custom pipeline components, and a finite state machine in the Rules Engine which enlisted in BizTalk transactions to reliably manage the state of processes.

%h3 Software Development Engineer in Test, Microsoft (Sept 2001 - Dec 2004)
%p
  :kramdown
    Joining Microsoft after university I spent the first couple of years working in test automation and performance tuning on projects in the Solution Development Centre. Subsequently I worked as a test feature lead on two BizTalk 2004 projects, and in test governance on a BizTalk SWIFT messaging solution. I was part of the teams awarded the Services Team Excellence Award in both FY2004 and FY2005.

%h2 Education

%h3 MEng (Hons) First Class, Chemical Engineering, University of Nottingham (1997 - 2001)
%p
  My degree covered a wide range of subjects such as maths, physics, thermodynamics and 
  programming. The final year project was designing a chemical plant as part of a small 
  group; part of my contribution was a genetic algorithm for resolving mass/mole balances 
  across equipment, and a stepwise reaction kinetics simulator. I was awarded a BP Book Prize for excellent first year results and the J.C. Mecklenburgh prize for the most outstanding fourth year design project.
