%h1 gregbeech.com

%h2 About Me
%p
  :kramdown
    My name is Greg Beech. I'm the Head of Core Platform Development at blinkboxbooks, the
    soon-to-be-launched eBook service from Tesco. Before that I spent 5 years or so working as
    a dev lead at [blinkbox](http://www.blinkbox.com/) working on a variety of things including the core platform, video encoding, web APIs and client libraries.

    As I don't get to write a lot of code at work any more, in my free time I like to hack around and learn bits of different languages. The most recent of these is Ruby which I
    found quite captivating and used for a rewrite of this site.

    Occasionally I even do non-geeky things. I'm a keen biker and member of the IAM,
    and can often be found out on my ZZR1400 if the weather's nice (yeah, yeah, I'm a fair weather rider) with my girlfriend on the back. I also try my hand at boxing - not that 
    you'd know it as I manage to balance any potential weight loss by eating too much.

%h2 Contact Me
%p
  :kramdown
    You can mail me using my first name @gregbeech.com. Please note that I'm not looking for
    a job, and I won't give you information about anybody I work with.

    If you already know me, you can find me on [Facebook](http://www.facebook.com/gregbeech)
    or [LinkedIn](http://www.linkedin.com/in/gregbeech).

%h2 About this Site
%p 
  This site was written in a couple of days as a project to learn some Ruby and makes use of the following Gems, for which I'm thankful to the various authors:
%ul
  %li 
    %a{ href: 'http://www.sinatrarb.com' } sinatra
    as the site framework
  %li 
    %a{ href: 'http://haml.info' } haml 
    for page templating
  %li 
    %a{ href: 'http://kramdown.rubyforge.org' } kramdown
    for text templating
  %li 
    %a{ href: 'https://github.com/blindgaenger/haml-kramdown' } haml-kramdown
    to add a kramdown filter to haml
  %li 
    %a{ href: 'http://coderay.rubychan.de' } coderay
    for syntax highlighting
  %li 
    %a{ href: 'http://lesscss.org' } less
    for the stylesheets
  / %li 
  /   %a{ href: 'http://nokogiri.org' } nokogiri
  /   for html parsing

