%h1 Random Technical Outbursts

%p
  :kramdown
    Subscribe to the [RSS feed](/blog/rss) to get notified when new content is available.

%ol.blogposts
  -posts.each do |post|
    %li
      %a{ href: post[:link] } #{post[:title]}
      (#{post[:date].strftime('%-d %b %Y')})